
.list-item {
    display: inline-flex;
    align-items: center;
    flex-direction: row;
    margin: 0 1rem;
    padding: 0 1rem;
    background-color: #eee;
}

.list-item p {
    margin: 0 1rem;
}

div .colored-circle {
    border-radius: 50%;
    border-style: solid;
    border-width: 0.5px;
    height: 15px;
    width: 15px;
  }
  
  option {
    padding: 0;
  }
  
  input[type="range"] {
    width: 200px;
    margin: 0;
  }

  input[type="range"] {
    appearance: slider-vertical;
  }