
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-ers

# directories
node_modules/
.vscode/

# testing
/coverage

# Firebase config
.firebaserc

# environment variables file
nodemon.json
.DS_Store
.env
.env.development
.env.production
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/

# actions
.github

#pictures
*.jpeg