.align-end{
    text-align: end;
}

.align-center {
    width: 2rem;
    text-align: center;
}

.search-width {
    width: 11rem
}

.slider-height {
    height: 15rem;
}

.dir-column {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 2rem;
}