.align-end{
    text-align: end;
}

.align-center {
    width: 2rem;
    text-align: center;
}

.search-width {
    width: 11rem
}

.slider-height {
    height: 15rem;
}

.dir-column {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 2rem;
}

.landing-page__overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 1);
    display: flex;
    justify-content: center;
    align-items: center;
  }